<style>
  #supportButton {
    position: fixed;
    bottom: 0px;
    right: 20px;
    background-color: #00000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #supportPanel {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
  }

  #supportPanel iframe {
    width: 300px;
    height: 600px;
    border: none;
  }

  #closeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }

  .gif-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  .gif-button:hover {
    opacity: 0.8;
  }

  .gif-button img {
    height: 40px;
    width: auto;
    display: block;
  }
</style>

<button id="supportButton" class="gif-button"> <img id="supportImage"
    src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExb2szbjR6bHY1YndubnhuMzhvaDdneXdxYjZ5c3ZkOHBobTRqOXU0YSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/bZgsAwXUIVU2tcKn7s/giphy.gif"
    alt="Clickable GIF Button"> </button>
<div id="supportPanel">
  <button id="closeButton">&times;</button>
  <iframe id='kofiframe' src='https://ko-fi.com/eclipsinglines/?hidefeed=true&widget=true&embed=true&preview=true'
    title='eclipsinglines'></iframe>
</div>

<script>
  const supportButton = document.getElementById('supportImage');
  const supportPanel = document.getElementById('supportPanel');
  const closeButton = document.getElementById('closeButton');
  var showPanel = false;
  supportButton.addEventListener('click', () => {
    if (showPanel) {
      supportPanel.style.display = 'none';
      showPanel = false;
    } else {
      supportPanel.style.display = 'block';
      showPanel = true;
    }
  });

  closeButton.addEventListener('click', () => {
    supportPanel.style.display = 'none';
  });

  window.addEventListener('click', (e) => {
    if (e.target !== supportButton && e.target !== supportPanel && !supportPanel.contains(e.target)) {
      supportPanel.style.display = 'none';
    }
  });
</script>